<h1> This is the Logout page </h1>

<%= form_for @user, url: 'logout' do |f|  %>
<input name="authenticity_token"
       type="hidden" 
       value="<%= form_authenticity_token %>"/>
 <%= f.submit "logout" %>
<% end %>
