<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Event Manager</a>
      <a class="nav-item nav-link" href="/users/login">Login</a>
      <a class="nav-item nav-link" href="/users/logout">Logout</a>
      <a class="nav-item nav-link" href="/users/new">Create User</a>
    </div>
  </div>
</nav>
