<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Event Manager</a>
      <ul class="nav navbar-nav">
        <li class="active"><a class="nav-item nav-link" href="/users/login">Login</a></li>
        <li class="active"><a class="nav-item nav-link" href="/users/logout">Logout</a></li>
        <li class="active"><a class="nav-item nav-link" href="/users/new">Create User</a></li>
        <li class="active"><a class="nav-item nav-link" href='/thing_to_dos/new'>Create New Event</a></li>
      <ul class="nav navbar-nav">
    </div>
  </div>
</nav>
